{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true
}
